<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{room.name}}</h1>
      <input type="hidden" id="gameId" value="{{ room._id }}">
    </div>
  </div>
</div>
<canvas id="gameCanvas" width="800" height="600" style="border: 1px red dashed;"></canvas>
<script src="/js/utility.js"></script>

<script src="/js/game/states/connection_state.js"></script>
<script src="/js/game/states/game_state.js"></script>

<script src="/js/game/player.js"></script>
<script src="/js/game/flag.js"></script>
<script src="/js/game/goal.js"></script>
<script src="/js/game/level.js"></script>
<script src="/js/game/websocket.js"></script>
<script src="/js/game/main.js"></script>