<div class="row page-header">
  <div class="col-md-6">
    <h1>Game rooms</h1>
  </div>
  <div class="col-md-6 text-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRoomModal">
      Add room
    </button>

<!-- Modal -->
<div class="modal fade text-left" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addRoomLabel">Add room</h4>
      </div>
      <div class="modal-body">
        <form action="/rooms">
          <input type="hidden" name="_method" value="PUT">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="roomname">Room name</label>
                <input type="text" id="roomName" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label for="roomname">Password (optional)</label>
                <input type="password" id="roomName" class="form-control" name="password">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add room</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 rooms">
    {{#each rooms}}
      <div class="row room">
        <div class="col-md-5">
          {{name}}
        </div>
        <div class="col-md-3">
          {{playerCount}}
        </div>
        <div class="col-md-4">
          <a href="/join/">Join</a>    
        </div>
      </div>
    {{/each}}
    {{#unless rooms.length}}
      <div class="alert alert-warning">No rooms</div>
    {{/unless}}
  </div>
</div>