<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GameJam Game - {{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
  <div class="container">
    {{{ body }}}
  </div>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>